{% block tawea %}
    <script type='text/javascript'>         
        var _taw = _taw || [];
        _taw.push(['_color', '{{ color }}']);
        (function(d) {var taw = d.createElement('script'),id = 'tawea-extension';
        if (d.getElementById(id)) {return;}
        taw.type = 'text/javascript';taw.id=id;taw.async=true;
        taw.src ='https://tawea.com/extension/js/sdk.min.js';
        (document.head||document.documentElement).appendChild(taw);})(document);
    </script>
{% endblock tawea %}
